* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
body {
    background-size: cover;
    
}

.container {
/* width: 100%;
height: 100%; */
}

.navbar {
background-color: green;
display: flex;
justify-content: space-between;
align-items: center;
padding: 50px;
text-transform: uppercase;
}
.navbar p {
    display: flex;
    font-size: 30px;
    margin-left: 80px;
    font-family:'Courier New', Courier, monospace;
}
.navbar ul {
    display: flex;
    gap: 20px;
    /* margin-right: 40px; */
}
.navbar > ul > .link {
    text-decoration: none;
    color: black;

}

main {
    margin-bottom: 100px;

}

.content {
    background-color: pink;
    display: flex;
    justify-content:center;
    
}
.main-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 200px;
    width: 20%;
}
.rigth-collum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 200px;
}
.title {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
footer {
    background-color: gray;
    display: flex; 
    justify-content: center;
    letter-spacing: 10px;
    text-decoration: none;
    font-size: 24px;

}
.soc-btn {
    /* display: flex; */
    /* justify-content: center; */
    /* letter-spacing: 10px; */
    /* gap: 100px; */
    /* text-decoration: none; */
    /* color: black;  */
}
.social {
    display: flex; 
    justify-content: center;
    text-align: center;
    letter-spacing: 10px;
    gap: 100px;
    text-decoration: none;
    color: black; 

}
.social .icon {
color: red;
}
